html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.container {
  width: 1200px !important;
  max-width: 100% !important;
  margin: 20px auto !important;
  padding-inline: 1.5rem;
}

h2,
h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.article {
  text-indent: 2em;
}

#primary-nav-search {
  display: none;
}

.external-16 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.external-18 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

a {
  text-decoration: none !important;
  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}

a:not([class]):visited {
  color: #00598c !important;
  text-decoration: underline;
}

u {
  text-decoration: underline;
}
